*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset */
body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* custom properties */
:root {
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "DM Serif Display", serif;

  --clr-light-violet: hsl(256, 26%, 20%);
  --clr-light-blue: hsl(216, 30%, 68%);
  --clr-dark-violet: hsl(270, 9%, 17%);
  --clr-dark-gray: hsl(273, 4%, 51%);
  --clr-light-gray: hsl(0, 0%, 98%);

  --fs-h1: 2.8rem; /*48px*/
  --fs-h2: 2.8rem; /*48px*/
  --fs-h3: 1.7rem; /*26px*/
  --fs-body: 1rem;

  --padding-side-sm: 1.58em;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.82rem; /*48px*/
    --fs-h2: 2.82rem; /*48px*/
  }
}

/* general style */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light-gray);
  color: var(--clr-dark-gray);
  font-family: var(--ff-primary);
  line-height: 1.7;
  font-size: 17px;
}

header {
  max-width: 100%;
}

.logo-container {
  padding: 1.76em var(--padding-side-sm);
  max-width: 100%;
}

.logo {
  display: flex;
}

footer {
  padding: 0 var(--padding-side-sm);
  max-width: 100%;
  background: lightpink;
}

.btn {
  border: 2px solid var(--clr-light-gray);
  display: inline-block;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-nav {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* typography */
h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-secondary);
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
}

h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
}

p {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

/* || header */
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.nav {
  background: var(--clr-dark-violet);
  height: 90vh;
  width: 100%;
  padding: 0 var(--padding-side-sm);
  position: absolute;
  visibility: hidden;
}

.nav-toggle-toclose {
  display: none;
}

/* nav ul */
.nav__items {
  text-align: center;
}

.nav__item {
  padding-top: 3.17em;
}

/* nav a */
.nav__link {
  text-transform: uppercase;
  color: var(--clr-light-gray);
  font-size: var(--fs-h3);
  font-weight: 700;
  letter-spacing: 3px;
}

/* || hero */
.hero__img--desktop {
  display: none;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero__text {
  order: 2;
  background: var(--clr-light-violet);
  padding: 5em var(--padding-side-sm);
  text-align: center;
  color: var(--clr-light-gray);
}

.hero__title {
  margin-bottom: 0.5em;
}

.hero__img {
  order: 1;
}

.hero__headline {
  margin-bottom: 2.5em;
}

/* || features */
.features-container {
  padding: 10em var(--padding-side-sm) 8.64em;
  text-align: center;
}

.features__title,
.features__subtitle {
  color: var(--clr-dark-violet);
}

.features__title {
  margin-bottom: 1.8em;
}

.features__subtitle {
  margin-top: 1.1em;
  margin-bottom: 0.6em;
}

.features-grid__item {
  margin-bottom: 3.8em;
}

/* || cta */
.cta-container {
  background: var(--clr-light-violet);
  color: var(--clr-light-gray);
  padding: 5em var(--padding-side-sm);
  margin: 0 var(--padding-side-sm) 10em;
  text-align: center;
}

.cta__title {
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
  line-height: 1;
  margin-bottom: 1em;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
