/* intégrer SVG mobile*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset */
body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  display: block;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  line-height: 1;
  font-size: var(--fs-body);
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* custom properties */
:root {
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "DM Serif Display", serif;

  --clr-light-violet: hsl(256, 26%, 20%);
  --clr-light-blue: hsl(216, 30%, 68%);
  --clr-dark-violet: hsl(270, 9%, 17%);
  --clr-dark-gray: hsl(273, 4%, 51%);
  --clr-light-gray: hsl(0, 0%, 98%);

  --fs-h1: 2.8rem; /*48px*/
  --fs-h2: 2.8rem; /*48px*/
  --fs-h3: 1.7rem; /*26px*/
  --fs-body: 1rem;

  --padding-side-sm: 1.58em;
}

/* general style */
html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: var(--clr-dark-gray);
  font-family: var(--ff-primary);
  line-height: 1.7;
  font-size: 17px;
  max-width: 1440px;
}

header {
  max-width: 100%;
  position: relative;
}

.logo-container {
  padding: 1.76em var(--padding-side-sm);
  max-width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

footer {
  max-width: 100%;
  background: var(--clr-light-gray);
}

.btn {
  border: 2px solid var(--clr-light-gray);
  display: inline-block;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero__text .btn:hover,
.cta-container .btn:hover {
  background-color: var(--clr-light-gray);
  color: var(--clr-dark-violet) !important;
}

.btn-nav {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-nav:hover {
  background: var(--clr-dark-violet);
  color: var(--clr-light-gray) !important;
}

/* typography */
h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-secondary);
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
}

h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
}

p {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

/* || header */
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.nav {
  background: var(--clr-dark-violet);
  height: 90vh;
  width: 100%;
  padding: 0 var(--padding-side-sm);
  position: absolute;
  visibility: hidden;
}

.nav-visible {
  visibility: visible;
  position: relative;
}

.nav-toggle-toopen {
  display: block;
}

.nav-toggle-toopen-inactive {
  display: none;
}

.nav-toggle-toclose {
  display: none;
}

.nav-toggle-toclose-active {
  display: block;
}

/* nav ul */
.nav__items {
  text-align: center;
}

.nav__item {
  padding-top: 3.17em;
}

/* nav a */
.nav__link {
  text-transform: uppercase;
  color: var(--clr-light-gray);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav__link:hover {
  color: var(--clr-dark-violet);
}

/* || hero */
.intro-right-desktop {
  display: none;
}

.intro-left-desktop {
  display: none;
}

.hero-section {
  background: var(--clr-light-violet);
}

.hero__img--desktop {
  display: none;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero__text {
  order: 2;
  padding: 5em var(--padding-side-sm);
  text-align: center;
  color: var(--clr-light-gray);
}

.hero__title {
  margin-bottom: 0.5em;
}

.hero__img {
  margin: 0 auto;
  order: 1;
}

.hero__headline {
  margin-bottom: 2.5em;
}

/* || features */
.features-container {
  padding: 8em var(--padding-side-sm) 5em;
  text-align: center;
}

.features__title,
.features__subtitle {
  color: var(--clr-dark-violet);
}

.features__title {
  margin-bottom: 1.8em;
}

.features__title:before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: var(--clr-light-violet);
  margin: 0 auto 1em;
}

.features__subtitle {
  margin-top: 1.1em;
  margin-bottom: 0.6em;
}

.features-grid__item {
  margin-bottom: 3.8em;
}

/* || cta */
.cta-container {
  background: var(--clr-light-violet);
  color: var(--clr-light-gray);
  padding: 5em var(--padding-side-sm);
  margin: 0 var(--padding-side-sm) 10em;
  text-align: center;
  position: relative;
}

.cta-container .btn {
  position: relative;
  z-index: 9999;
}

.how-we-work-desktop {
  display: none;
}

.cta__title {
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
  line-height: 1;
  margin-bottom: 1em;
}

/* || footer */
.footer-desktop {
  display: none;
}

.footer {
  padding: 6em var(--padding-side-sm);
  text-align: center;
  position: relative;
  z-index: -1;
}

.footer__logo-social {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--clr-dark-gray);
  position: relative;
  z-index: 1;
}

.social {
  margin-top: 2.3em;
}

.social-icon-link {
  display: inline-block;
  margin-right: 0.7em;
}

.footer-grid {
  position: relative;
  z-index: 1;
}

.footer-grid__item {
  text-transform: uppercase;
  font-weight: 700;
}

.footer-grid__item-title {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  letter-spacing: 0.5px;
}

.footer-grid__links {
  display: flex;
  flex-direction: column;
}

.footer-grid__link {
  display: inline-block;
  color: var(--clr-dark-violet);
  letter-spacing: 0.5px;
}

.footer-grid__link:hover {
  text-decoration: underline;
}

.footer-grid__link:not(:last-child) {
  margin-bottom: 1.2em;
}

.icon:hover {
  fill: var(--clr-dark-violet);
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********** media queries **********/

@media (min-width: 500px) {
  .features__desc {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 750px) {
  .padding-side-m {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
  }

  .nav-toggle-toopen {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .hero-section {
    position: relative;
    z-index: 0;
  }

  .intro-right-desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .intro-left-desktop {
    display: block;
    position: absolute;
    bottom: -45%;
    left: 0;
    height: 70%;
  }

  .how-we-work-desktop {
    display: block;
    position: absolute;
    right: 0;
  }

  .logo-container {
    max-width: 200px;
    padding: 0;
  }

  .nav {
    visibility: visible;
    background: unset;
    height: auto;
    max-width: 80%;
    color: var(--clr-dark-violet);
    padding: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .nav__link {
    color: var(--clr-dark-gray);
    font-size: 0.82rem;
    letter-spacing: 1px;
  }

  .nav__items {
    display: flex;
    align-items: center;
  }

  .nav__item {
    padding: 0;
    margin-left: 2em;
  }

  .btn-nav {
    color: var(--clr-dark-violet);
    border: 2px solid var(--clr-dark-violet);
    padding: 0.5em 0.7em;
  }
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 4rem;
  }

  .btn {
    padding: 0.7rem 1.5rem;
  }

  .hero-section {
    padding-top: 6em;
  }

  .hero__img--desktop {
    display: block;
  }

  .hero__img--mobile {
    display: none;
  }

  .hero-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 490px;
  }

  .hero__text {
    order: 1;
    text-align: left;
    margin-top: 2em;
    padding: 2em 0 0 0;
    width: 50%;
    max-width: 540px;
    height: 100%;
    max-height: 370px;
    position: relative;
  }

  .hero-container:before {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 1px;
    background: var(--clr-light-gray);
  }

  .hero__img {
    order: 2;
    margin: 0;
    width: 50%;
    max-width: 540px;
  }

  .hero__title {
    line-height: 0.9;
    max-width: 90%;
  }

  .hero__headline {
    margin-bottom: 2em;
  }

  .features-container {
    padding-top: 15em;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .features__title {
    margin-bottom: 1.4em;
  }

  .features__title:before {
    margin: 0;
    margin-bottom: 0.8em;
    width: 12%;
  }

  .features__desc {
    margin: 0;
    max-width: 100%;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.1rem;
  }

  .cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.3em 5em;
    margin-bottom: 10em;
  }

  .cta__title {
    font-size: 3.33rem;
    margin-bottom: 0;
    max-width: 50%;
    text-align: left;
  }

  .img-footer-desktop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .footer__logo-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .footer {
    padding: 4em 0;
    text-align: left;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
